@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root{
    --leading: 2em;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 1500px;
}

.navbar {
    /*background-color: #2d2d2d;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    padding: 1em 3em 1em 2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    top:0;
}

.navbar a:hover {
    background: rgb(231, 231, 231);
    border-radius: 10px;
    padding: 0.5em;
}

.navbar .icon {
    display:none;
}

#toRight{
    justify-content: flex-end;
}

#toRight a {
    margin-left: 2em;
    
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2d2d2d;
    padding: 0.5em;
}

.pic-of-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 5em 0 5em;
    width: 20%;
}

.bg-one {
    padding: 5em 0 5em;
    background-image: url('../img/cover-image\ \(5\).png');
    background-position: center;
    height: 50%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.bg-two {
    padding: 5em 0 5em;
    background: #2d2d2d url('../img/cover-image\ \(1\).png');
    background-position: center;
    height: 50%;
    background-size: cover;
    position: relative;
}

.container {
    margin: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    text-align: center;
    background-color: white;
    width: 50%;
    border-radius: 10px;
}


@media screen and (max-width: 650px) {
    .navbar #toRight {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .navbar.responsive {position:relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top:0;
    }
    .navbar.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}